/*Author: Sergio Jsvier Medina Cruz
Date: 25/05/2022*/
body {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    justify-content: center;
    display: flex; 

    /* animation-fill-mode: ; */
}
div.principal {
    overflow: hidden;
    background-color: rgb(231, 85, 153);
    border: 3px solid rgb(132, 33, 145);
    width: 85%;
    height: 350px;
    display: flex;
    justify-content: center;
}
.pato {
    margin-top:3em;
    animation: rotate45 4s infinite alternate ease
}
.cara {
    display: flex;
}
#cabeza {
    background-color: rgb(255, 255, 128);
    border: 3px solid rgb(255, 255, 65);
    width: 5em;
    height: 5em;
    border-radius: 50%;
    /* animation: displace45 forwards 5s; */
}
#ojo {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    width: 45%;
    height:55%;
    border-radius: 50%;
}
#pupila {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(59, 59, 59);
    border-radius: 50%;
    width: 75%;
    height:65%;
    border-radius: 50%;
    animation: movimientoOjo 2s infinite alternate ease;
}
#pico {
    width: 0;
    height:0;
    border-left: 3em solid #f0ad4e;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    transform:rotate(180deg); 
    margin-top: 1.5em;
    border-radius: 25px;
    /*animation: displace45 forwards 5s; */
}
.cuerpo {
    background-color: rgb(255, 255, 128);
    border: 3px solid rgb(255, 255, 65);
    width: 10em;
    height: 7em;
    border-radius: 50%;
    margin-left: 2.5em;
}
.texto {
    overflow: hidden;
    animation: 4s slide-in-right;
    display: flex;
    align-items: end;
}
#ala {
    width: 0;
    height:0;
    border-right: 3em solid #f0ad4e;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    margin-left: 2.7em;
    margin-top: 2em;
}
div.texto p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5em;
    color: rgb(255, 255, 255);
}

@keyframes slide-in-right{
    from {transform: translateX(50%)}
    to {transform: translateX(0%)}
}
@keyframes movimientoOjo {
    from {margin-left: 30%;}
    to {margin-left: 0%;}
  } 
@keyframes rotate45{
    from {transform: rotate(0deg)}
    to {transform: rotate(45deg)}
}