body {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    justify-content: center;
    display: flex; 
    /* animation-fill-mode: ; */
}
div.principal {
    overflow: hidden;
    background-color: rgb(231, 85, 153);
    border: 3px solid rgb(132, 33, 145);
    width: 85%;
    height: 200px;
}
.texto {
    overflow: hidden;
    animation: 3s 3s slide-in;
}
div.texto p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    size: 1.5em;
}

@keyframes slide-in{
    from {transform: translateX(-50%)}
    to {transform: translateX(0%)}
}

