body {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    /* animation-fill-mode: ; */
}
div.principal {
    overflow: hidden;
    background-color: rgb(231, 85, 153);
    border: 1px solid rgb(152, 56, 165);
    align-items: center;
    width: 85%;
    height:200px;
}
.texto {
    overflow: hidden;
    animation: 3s 3s slide-in;
}
div.texto p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size: 1.5em;
}

@keyframes slide-in{
    from {transform: translateY(-50%)}
    to {transform: translateY(0%)}
}

